.test {
  animation: scrollBanner infinite 5s;
}

.blackDots {
  background-image: url("./../../public/assets/backgrounds/contact-dots-dark.svg");
  background-repeat: repeat-y;
  background-position: 37px;
  
}

.whiteDots {
  background-image: url("./../../public/assets/backgrounds/contact-dots-light.svg");
  background-repeat: repeat-y;
  background-position: 37px;
}


.text {
  animation: visibleText infinite 5s;
}

@keyframes scrollBanner {
  0% {
    top: -35px;
  }
  50% {
    top: 355px;
  }
  75% {
    top: 355px;
  }
  100% {
    top: -35px;
  }
}

@keyframes visibleText {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
