li {
    &:hover {
        .submenu {
            display: flex;
            position: absolute;
            width: 100%;
            left: 0;
        }
    }

    .submenu {
        display: none;
    }
}