li {
  &:hover {
    .submenu {
      display: flex;
      position: absolute;
      width: 100%;
      top: 80px;
      left: 0;
      background-color: white;
      z-index: 100;
    }
  }

  .submenu {
    display: none;
  }
}
